@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #ff8800;
    --secundary: #ff7b00;
    --terciary: #ffaa00;
    --white: #fff;
    --black: #202020;
}

body {
    width: 100%;
    height: 100vh;
    padding: 40px 400px;
    display: flex;
    flex-direction: column;
}

header {
    height: 20vh;
}

main {
    height: 70vh;
}

a {
    text-decoration: none;
    outline-color: transparent;
}

li a {
    color: var(--black);
}

button a {
    color: var(--white);
}

h1 {
    font-size: 38px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-input {
    border: none;
    border-bottom: 1px solid #d6ccc2;
    padding: 5px 10px;
}

.top-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.top-page h1 span {
    color: var(--primary);
}

.top-nav-list ul {
    border-top: 1px solid #edede9;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    gap: 1.5rem;
    padding: 15px 0;
    font-family: "Outfit", sans-serif;
    font-size: 600;
}

.top-nav-list ul li a {
    transition: all 0.5s;
}

.top-nav-list ul li a:hover {
    color: var(--primary);
}

.about-container {
    padding-top: 50px;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.about-container div {
    width: 454px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-container div h4 {
    font-size: 18px;
    color: var(--secundary);
    font-family: "Outfit", sans-serif;
}

.about-container div p {
    font-size: 34px;
    font-weight: 800;
    font-family: "Outfit", sans-serif;
    width: 400px;
}

.about-container div span {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
}

button {
    margin-top: 15px;
    padding: 15px 10px;
    width: 168px;
    border-radius: 5px;
    border: none;
    background: var(--primary);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: var(--terciary);
}

.recipes-container {
    padding-top: 50px;
    width: 100%;
    height: 70%;
}

.contact-container {
    padding-top: 30px;
    width: 100%;
    height: 40%;
}

img {
    width: 310px;
    height: 583px;
    transform: rotate(8deg);
}

box-icon {
    width: 25px;
    height: 25px;
}

footer {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #d6ccc2;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

/* RESPONSIVE DESIGN */
@media (max-width: 468px) {
    body {
        padding: 0;
    }

    header {
        height: 20vh;
    }

    main {
        height: 70vh;
    }

    footer {
        height: 10vh;
    }

    .top-page {
        justify-content: space-around;
    }

    h1 {
        font-size: 26px;
    }

    .search-input {
        padding: 5px 10px;
        width: 120px;
    }

    .top-nav-list ul {
        font-size: 15px;
        justify-content: center;
    }

    img {
        display: none;
    }

    .about-container {
        gap: 80px;
    }

    .about-container div {
        width: 280px;
        gap: 20px;
    }

    .about-container div h4 {
        font-size: 16px;
    }

    .about-container div p {
        font-size: 30px;
        width: 300px;
    }

    .about-container div span {
        font-size: 14px;
    }

    button {
        padding: 10px;
        width: 130px;
        font-size: 14px;
    }

    footer {
        font-size: 9px;
    }
}

@media (min-width: 469px) and (max-width: 768px) {
    body {
        padding: 10px 80px;
    }

    header {
        height: 20vh;
    }

    main {
        height: 70vh;
    }

    footer {
        height: 10vh;
    }

    .top-page {
        justify-content: space-around;
    }

    h1 {
        font-size: 28px;
    }

    .search-input {
        padding: 5px 10px;
        width: 130px;
    }

    .top-nav-list ul {
        font-size: 15px;
        justify-content: center;
    }

    img {
        width: 140px;
        height: 280px;
    }

    .about-container {
        gap: 80px;
    }

    .about-container div {
        width: 180px;
        gap: 20px;
    }

    .about-container div h4 {
        font-size: 14px;
    }

    .about-container div p {
        font-size: 26px;
        width: 300px;
    }

    .about-container div span {
        font-size: 14px;
    }

    button {
        padding: 10px;
        width: 130px;
        font-size: 14px;
    }

    footer {
        font-size: 9px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        padding: 10px 90px;
    }

    header {
        height: 20vh;
    }

    main {
        height: 70vh;
    }

    footer {
        height: 10vh;
    }

    .top-page {
        justify-content: space-around;
    }

    h1 {
        font-size: 32px;
    }

    .search-input {
        padding: 5px 10px;
        width: 150px;
    }

    .top-nav-list ul {
        font-size: 15px;
        justify-content: center;
    }

    img {
        width: 180px;
        height: 360px;
    }

    .about-container {
        gap: 80px;
    }

    .about-container div {
        width: 270px;
        gap: 20px;
    }

    .about-container div h4 {
        font-size: 16px;
    }

    .about-container div p {
        font-size: 28px;
        width: 300px;
    }

    .about-container div span {
        font-size: 15px;
    }

    button {
        padding: 15px;
        width: 150px;
        font-size: 15px;
    }

    footer {
        font-size: 11px;
    }
}